.paginationContainer {
  display: flex;
  justify-content: center;
}
.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.pagination .paginationItem {
  width: 46px;
  height: 46px;
  background-color: var(--gray700);
  margin-right: 4px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fsS);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-right: 3px;
  font-weight: 600;
}

.pagination .paginationItem:hover,
.pagination :global(.rc-pagination-item-active) .paginationItem {
  background-color: var(--blue);
}

.paginationBtn.next {
  width: auto;
  padding: 0 30px;
}
.paginationBtn.next svg {
  margin-left: 8px;
  transform: translateY(1px);
}
