.field {
  position: relative;
}
.label {
  font-size: var(--fsS);
  opacity: 0.7;
  margin: 0 0 8px;
  display: block;
}

.fieldText {
  display: flex;
}
.error {
  color: var(--primary);
  font-size: 14px;
  padding-left: 14px;
}
