.aboutUs{
	composes: section from global;
}
.container{
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	padding: 120px 0 140px;
	grid-column: var(--medium);
	display: inherit;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: calc(var(--cellSize) * 2);
}

.titleWrapper{
	margin: 0 0 92px;
}
.titleWrapper p{
	margin: 16px 0 0;
	font-size: var(--fsL);
}
.card{
	padding: 50px 60px 60px;
	transition: all .3s ease-in-out;
}
.cardSpace{
	margin: 78px 0 38px;
}
.cardIcon{
	color: var(--primary);
	margin: 0 0 24px;
	transition: all .3s ease-in-out;
}
.cardTitle{
	margin: 0 0 15px;
	
}
.card p{
	opacity: .7;
	transition: all .3s ease-in-out;
}
.card:hover{
	background-color: var(--primary);
}
.card:hover .cardIcon{
	color: var(--white);
}
.card:hover p{
	opacity: 1;
}

@media (max-width: 900px){
	.container{
		padding: 90px 0;
		grid-template-columns: 1fr;
	}
	.titleWrapper p{
		margin: 32px 0 0;
		max-width: 460px;
	}
	.cardSpace{
		margin: 0;
	}
	
}

@media (max-width: 600px){
	.titleWrapper{
		margin: 0 0 62px;
	}
	.card{
		padding: 32px 24px;
	}
}