.form__grid{
    display: grid;
    grid-template-columns: minmax(256px, 1fr);
    grid-row-gap: 24px;
    margin-bottom: 42px;
}
.form__title{
    margin-bottom: 32px;
}
.radioButtons{
    display: grid;
    width: 100%;
    max-width: 300px;
    grid-template-columns: 1fr 1fr;
    height: 46px;
}
.radioMask{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray700);
    color: var(--gray400);
    opacity: .6;
    font-size: var(--fsS);
    font-weight: 600;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.selectWrapper{
    max-width: 300px;
}
.radioButtons input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.radioButtons input:checked + .radioMask{
    opacity: 1;
    background-color: var(--blue);
}

@media (max-width: 1100px){
    .form__grid{
        grid-template-columns: 256px;
    }
}
@media (max-width: 900px){
    .form__grid{
        grid-template-columns: minmax(226px, 288px);
    }
}
@media (max-width: 767px){
    .form__grid{
        grid-template-columns: 1fr;
    }
    .radioButtons{
        max-width: 100%;
    }
    .selectWrapper{
        max-width: 100%;
    }
}