.imageContainer {
  position: relative;
  height: 329px;
}

.image {
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.labels {
  position: absolute;
  left: 16px;
  bottom: 14px;
}
.label {
  margin-right: 4px;
  background-color: rgba(13, 17, 23, 0.8);
  padding: 5px 8px;
  font-size: var(--fsXS);
  font-weight: 600;
}
.label.new {
  color: var(--blue);
}
.label.recommended {
  color: var(--primary);
}

.details {
  padding: 16px 16px 12px;
  background-color: var(--gray700);
  transition: background-color 0.3s ease-in;
}

.details:hover {
  background-color: var(--primary);
}

.imageContainer:hover + .details {
  background-color: var(--primary);
}

.name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.location {
  opacity: 0.7;
  margin: 0 0 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.location svg {
  margin-right: 4px;
}
.prices {
  padding: 10px 0 0;
  border-top: 1px solid rgba(149, 154, 162, 0.1);
  display: flex;
  justify-content: space-between;
}
.priceText {
  opacity: 0.7;
  margin-right: 2px;
  font-size: var(--fsS);
}
.priceValue {
  font-weight: 600;
  font-size: 18px;
  margin-left: 4px;
  font-size: 16px;
}

@media (max-width: 1439px) {
  .details {
    padding: 10px 16px 6px;
  }
}

@media (max-width: 700px) {
  .details {
    padding: 10px 8px;
  }
}
