.slider {
  composes: section from global;
  padding: 114px 0 80px;
  min-width: 0;
  min-height: 0;
}
.container {
  grid-column: var(--large);
  min-width: 0;
  min-height: 0;
}
.sliderWrapper {
  min-width: 0;
  min-height: 0;
  position: relative;
}
.slide {
  display: grid;
  grid-template-columns: minmax(min-content, 420px) 1fr;
  min-height: 570px;
  max-height: 570px;
}
.slideInfo {
  font-size: var(--fsS);
  opacity: 0.7;
  display: flex;
  align-items: center;
  margin: 0 0 24px;
}
.slideTitle,
.slideText {
  margin: 0 0 20px;
  max-width: 300px;
}
.date:after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 16px;
  border-radius: 50%;
  background-color: var(--white);
  vertical-align: middle;
  opacity: 0.4;
}
.slideContent {
  padding: 90px 30px 122px calc(var(--cellSize) * 2);
  background-color: var(--gray700);
}
.slideImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.arrows {
  position: absolute;
  bottom: 64px;
  z-index: 10;
  display: flex;
  left: calc(var(--cellSize) * 2);
  z-index: 10;
}

@media (min-width: 768px) {
  .arrows {
    margin-bottom: auto;
  }
}

.nextArrow,
.prevArrow {
  opacity: 0.7;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nextArrow:hover,
.prevArrow:hover {
  opacity: 1;
}
.prevArrow {
  transform: rotate(180deg);
  border-top: 1px solid var(--white);
  margin-right: 2px;
  z-index: 20;
  position: relative;
}
.prevArrow svg {
  transform: translateY(-3px);
}
.nextArrow {
  border-bottom: 1px solid var(--white);
}

@media (max-width: 1100px) {
  .slideContent {
    padding: 50px 30px 102px calc(var(--cellSize) * 2);
  }
  .slide {
    min-height: 446px;
    max-height: 446px;
    grid-template-columns: minmax(min-content, 384px) 1fr;
  }
  .arrows {
    bottom: 44px;
  }
}

@media (max-width: 900px) {
  .slider {
    padding: 108px 0 60px;
  }
  .slideContent {
    padding: 36px 30px 94px calc(var(--cellSize) * 2);
  }
  .slide {
    min-height: 406px;
    max-height: 406px;
    grid-template-columns: minmax(min-content, 320px) 1fr;
  }
  .slideTitle {
    margin: 0 0 30px;
  }
  .slideText {
    font-size: var(--fsS);
  }
  .arrows {
    bottom: 36px;
  }
}
@media (max-width: 767px) {
  .slider {
    padding: 104px 0 46px;
  }
  .slide {
    min-height: 0;
    max-height: 100%;
    grid-template-columns: 1fr;
  }
  .slideTitle {
    margin: 0 0 16px;
  }
  .slideImage {
    height: calc(100vw * 0.75);
    grid-row: 1 / 2;
    position: relative;
  }
  .slideImage img {
    object-position: center top;
  }
  .slideContent {
    padding: 26px calc(var(--cellSize) * 3) 90px;
  }
  .arrows {
    bottom: 34px;
    left: calc(var(--cellSize) * 3);
  }
}
