.rates {
  margin-bottom: 40px;
  min-width: 100%;
}

.top {
  display: flex;
  align-items: baseline;
  align-content: center;
  justify-content: space-between;
}

.nav {
  font-size: var(--fsS);
  font-weight: 600;
  color: var(--white);
  padding: 4px 0;
  margin: 0 8px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: var(--tPrimary);
}

.nav:hover,
.nav.active {
  border-color: var(--primary);
}

.tableWrapper {
  background: var(--gray700);
  padding: 12px 24px 16px;
  margin: 14px 0 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  font-size: var(--fsS);
  font-weight: 600;
  color: var(--white);
  text-align: left;
  padding: 4px 20px 16px;
  border-bottom: 1px solid rgba(#FFFFFF, .1);
}

.table th:first-child {
  padding-left: 0;
}

.table th:last-child {
  text-align: right;
  padding-right: 0;
}

.table tr:first-child td {
  padding-top: 14px;
}

.table td {
  font-size: var(--fsM);
  font-weight: 600;
  color: var(--white);
  text-align: left;
  vertical-align: middle;
  padding: 0 26px 4px;
  white-space: nowrap;
  min-width: 50px;
}

.table td:first-child {
  width: 100%;
  padding-left: 0;
}

.table td:last-child {
  text-align: right;
  padding-right: 0;
}

.time {
  font-weight: 500;
  opacity: .6;
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.icon {
  width: 18px;
  margin-right: 8px;
  display: inline-block;
}

@media (min-width: 1024px){
  .rates {
    margin-bottom: 0;
    min-width: 360px;
  }
}

@media (min-width: 1440px){
  .rates {
    margin-bottom: 0;
    min-width: 390px;
  }
}