.nav {
  composes: section from global;
  padding: 102px 0 0;
}

.container {
  grid-column: var(--large);
}
/*
.topNav {
  display: flex;
  align-items: flex-end;
  align-content: center;
  justify-content: space-between;
}

.topNavSide {
  flex: 0 1 auto;
  display: flex;
}

.alignRight {
  text-align: right;
}

.navLink {
  display: flex;
  cursor: pointer;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  font-size: var(--fsS);
  font-weight: 600;
  transition: var(--tPrimary);
  padding-bottom: 18px;
}

.navLink:hover {
  color: var(--primary);
}

.navLink svg {
  flex: 0 0 auto;
  display: inline-block;
}

.navLink.left svg {
  margin-right: 10px;
}

.navLink.right svg {
  margin-left: 10px;
}

.navBtn {
  display: inline-block;
  padding: 15px 17px;
  color: var(--white500);
  border-bottom: 2px solid var(--white500);
  transition: var(--tPrimary);
}

.navBtn + .navBtn {
  margin-left: 2px;
}

.navBtn:hover {
  color: var(--white);
  border-color: var(--white);
} */

/* Profile */

.prifileWrapper {
  composes: section from global;
  padding: 48px 0 0;
  background-color: var(--gray800);
  animation-name: show;
  animation-duration: 0.8s;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profileContainer {
  display: block;
  grid-column: var(--large);
  grid-template-columns: minmax(298px, 298px) minmax(min-content, 100%);
  grid-column-gap: var(--cellSize);
  justify-content: space-between;
  align-items: flex-start;
}

.profileContainerTop {
  grid-column: var(--large);
  margin-bottom: 24px;
}

.profileContainerBottom {
  grid-column: var(--large);
}

.profileContainerBottom > .profileInfoGrid {
  margin-top: 24px;
}

.profileBookBtnMobile {
  margin: 24px 0 32px;
}

.topBox {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.topBoxText {
  flex: 1 1 auto;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  align-content: center;
}

.topBoxYear {
  margin-left: 8px;
  font-size: var(--fsM);
  color: var(--gray400);
  opacity: 0.7;
}

.topBoxBtn {
  flex: 1 1 auto;
}

.topBoxBtn > button {
  width: 100%;
}

.rightSide {
  padding-bottom: 10px;
}

.profileInfoGrid {
  display: block;
}

.profileInfoList {
  margin-top: 16px;
  display: grid;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
}

.profileInfoList li {
  font-size: var(--fsM);
  display: flex;
}

.profileInfoList li span {
  color: var(--gray400);
  opacity: 0.7;
  margin-right: 10px;
}

.profileInfoTags {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px -4px 0;
}

.profileInfoTags li {
  margin: 4px;
  background: var(--gray700);
  padding: 2px 4px;
}

.aboutContent {
  font-size: var(--fsM);
  margin-top: 15px;
  padding-bottom: 48px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.aboutTitle {
  font-weight: 600;
  margin-bottom: 6px;
  color: var(--white);
}

.aboutText {
  color: var(--gray400);
  opacity: 0.7;
  margin: 8px 0 16px;
  max-width: 450px;
}

.noticeBox {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-top: 10px;
  padding: 10px 10px;
  background: var(--gray700);
  width: 100%;
}
@media (min-width: 768px) {
  .noticeBox {
    width: 55%;
  }
}
@media (min-width: 1024px) {
  .noticeBox {
    width: 100%;
  }
}

.note {
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: var(--gray800);
  padding: 4px 8px;
}

.noteTerm {
  margin-right: 10px;
}

.notePrice {
  white-space: nowrap;
}

.aboutText > button {
  color: var(--gray400);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: var(--tPrimary);
  margin-top: 16px;
}

.aboutText > button:hover {
  color: var(--primary);
}

.profileInfoGrid + .profileInfoGrid {
  margin-top: 24px;
}

.profileInfoBox {
  margin-top: 0;
}

.profileInfoBox + .profileInfoBox {
  margin-top: 24px;
  min-width: 212px;
}

.profileInfoBox h6 {
  line-height: 1.3;
}

.sectionRateLocation {
  composes: section from global;
  background-color: var(--gray800);
  animation-name: show;
  animation-duration: 0.8s;
}

.rateLocationWrapper {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 40px 0 102px;
}

@media (min-width: 768px) {
  .profileContainer {
    display: grid;
    grid-gap: 48px;
  }
  .topBoxBtn {
    flex: 0 1 auto;
  }
  .topBoxBtn > button {
    width: auto;
    max-width: 125px;
  }
  .profileBookBtnMobile {
    margin: 0;
  }
  .profileInfoTags li {
    margin: 4px;
  }
  .profileInfoList li:nth-child(2n) {
    margin-left: 16px;
  }
}

@media (min-width: 1024px) {
  .profileInfoGrid {
    display: grid;
    justify-items: stretch;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
  }
  .profileInfoGrid + .profileInfoGrid {
    margin-top: 42px;
  }
  .profileInfoBox {
    margin-top: 0;
  }
  .profileInfoBox + .profileInfoBox {
    margin-top: 0;
  }
  .aboutContent {
    border-bottom: none;
    padding-bottom: 28px;
  }
  .aboutText {
    margin-right: 46px;
  }
  .profileContainer {
    border-bottom: 1px solid rgba(#ffffff, 0.1);
    padding-bottom: 16px;
  }
  .rateLocationWrapper {
    display: grid;
    justify-items: stretch;
    grid-template-columns: 1fr 2fr;
    grid-gap: 50px;
    padding: 40px 0 145px;
  }
  .profileContainerBottom > .profileInfoGrid {
    margin-top: 0;
  }
  .profileInfoList li:nth-child(2n) {
    margin-left: 10px;
  }
}

@media (min-width: 1440px) {
  .profileContainerTop {
    display: none;
  }
  .profileContainer {
    grid-gap: 60px;
    grid-template-columns: minmax(390px, 390px) minmax(min-content, 100%);
    padding-bottom: 50px;
  }
  .aboutDesktop {
    margin-top: 0;
    margin-bottom: 0;
  }
  .aboutDesktop .profileInfoBox {
    margin-top: 0;
  }
  .aboutContent {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-right: 30px;
  }
  .profileInfoGrid {
    margin-top: 44px;
  }
  .profileInfoGrid + .profileInfoGrid {
    margin-top: 46px;
  }
  .profileInfoTags {
    margin: 12px -4px 0;
  }
  .profileInfoTags li {
    padding: 0 8px;
    margin: 5px 4px;
  }
  .profileInfoList li:nth-child(2n) {
    margin-left: 30px;
  }
  .rateLocationWrapper {
    grid-gap: 60px;
    padding: 40px 0 120px;
  }
}
