.footer {
  composes: section from global;
  padding: 110px 0 30px;
}
.container {
  grid-column: var(--large);
}

.footerBanner {
  margin-bottom: 70px;
}

.footerBanner img {
  display: inline;
  height: auto;
  width: auto;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.escortsWrapper {
  width: 100%;
  max-width: 300px;
  margin-right: 10px;
}
.footerLogo {
  margin: 0 0 30px;
}
.footerLogo svg {
  height: 44px;
}
.escortsWrapper p {
  font-size: var(--fsS);
  margin: 0 0 36px;
}
.footerTitle {
  font-size: var(--fsL);
  opacity: 0.7;
  margin: 16px 0 24px;
}
.footerMenu {
  width: 100%;
  margin-left: 140px;
  margin-right: 20px;
}
.footerCategories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
}
.footerCategories a {
  font-size: var(--fsS);
  transition: all 0.3s ease-in-out;
}
.footerCategories a:hover {
  text-decoration: underline;
}
.footerContact {
  width: 100%;
  max-width: 240px;
}
.footerDesc {
  font-size: var(--fsS);
  margin: 0 0 30px;
}
.footerBottomCopyright {
  font-size: var(--fsS);
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 400;
}
.terms a:first-child {
  margin-right: 50px;
}
.footerBottomText {
  border-top: 1px solid var(--gray800);
  padding-top: 20px;
  font-size: var(--fsXXS);
  opacity: 0.7;
}
.phone {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.phone svg {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  color: var(--primary);
}

@media (max-width: 1439px) {
  .footerMenu {
    margin-left: 70px;
  }
}
@media (max-width: 1100px) {
  .escortsWrapper {
    max-width: 215px;
  }
  .footerContact {
    max-width: 200px;
  }
}

@media (max-width: 900px) {
  .footer {
    padding: 90px 0 24px;
  }
  .footerTop {
    margin-bottom: 90px;
    flex-wrap: wrap;
  }
  .escortsWrapper {
    margin-bottom: 96px;
    max-width: 320px;
  }
  .footerMenu {
    width: 100%;
    max-width: 100%;
    order: 1;
    margin-right: 20px;
    margin-left: 0;
  }
  .footerContact {
    margin-right: var(--cellSize);
    max-width: 240px;
  }
  .footerCategories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    grid-row-gap: 16px;
  }
}

@media (max-width: 600px) {
  .escortsWrapper {
    margin-bottom: 64px;
  }
  .footerContact {
    margin-bottom: 90px;
  }
  .footerBottomCopyright {
    flex-wrap: wrap;
  }
  .terms {
    margin-bottom: 0px;
    order: -1;
  }
}

@media (max-width: 393px) {
  .terms {
    margin-bottom: 16px;
  }
}
