.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: rgba(0,0,0,.5);
}
.modalWrapper{
    padding: 52px 32px;
    background-color: var(--white);
    color: var(--black);
    max-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.modalTitle{
    font-size: 34px;
    font-weight: bold;
    line-height: 1.4;
    margin: 0 auto 8px;
    text-align: center;
    position: relative;
    display: inline-block;
}
.modalTitle span{
    z-index: 1;
    position: relative;
}
.modalTitle:before {
    content: '';
    position: absolute;
    width: 72px;
    height: 55px;
    top: -26px;
    left: -26px;
    background-image: url(../../../static/assets/images/lips.png);
    background-size: cover;
    background-position: center;
  }
.modalDesc{
    max-width: 250px;
    margin: 0 auto 24px;
    color: var(--gray700);
    text-align: center;
}
.modalWrapper button{
    margin: auto;
}
