.girlInfo{
    border-top: 2px solid var(--gray600);
    padding-top: 30px;
    display: grid;
    grid-template-columns: minmax(120px, 330px) minmax(320px, 1fr);
    margin-bottom: 40px;
}
.girlInfo__title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}
.aboutList li{
    margin-bottom: 8px;
    display: flex;
}
.aboutList span{
    font-size: var(--fsS);
    opacity: .7;
    margin-right: 8px;
}
.tagList{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 400px;
    flex-wrap: wrap;
    cursor: pointer;
}
.tagList li{
    font-size: var(--fsS);
    padding: 4px 10px;
    margin-bottom: 8px;
    margin-right: 8px;
    transition: all .3s ease-in-out;
    white-space: nowrap;
    background-color: var(--gray600);
}
.tagList li:hover{
    color: var(--blue);
}

@media (max-width: 900px){
    .girlInfo{
        grid-template-columns: minmax(120px, 150px) minmax(170px, 1fr);
        grid-column-gap: 30px;
        margin-bottom: 70px;
    }
}

@media (max-width: 767px){
    .girlInfo{
        grid-template-columns: 1fr;
        grid-row-gap: 14px;
        margin-bottom: 54px;
    }

}