.form__grid {
  display: grid;
  grid-template-columns: minmax(256px, 300px) minmax(256px, 300px);
  grid-row-gap: 24px;
  grid-column-gap: var(--cellSize);
  margin-bottom: 42px;
}
.inputWrapper {
  display: flex;
  align-items: center;
}
.form__title {
  margin-bottom: 32px;
}
.datePicker {
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray700);
  padding: 2px 16px;
  cursor: pointer;
  font-size: var(--fsS);
}
.radioButtons {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  height: 46px;
}
.radioMask {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray700);
  color: var(--gray400);
  opacity: 0.6;
  font-size: var(--fsS);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.selectWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--cellSize);
}
.radioButtons input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radioButtons input:checked + .radioMask {
  opacity: 1;
  background-color: var(--blue);
}

.addressField {
  grid-column: 1 / -1;
}

.addressFieldInfo {
  margin-top: 16px;
  display: flex;
  font-size: 14px;
  line-height: 21px;
  color: var(--white500);
}

.addressFieldInfo:before {
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 6px;
  margin-top: 3px;
  background-image: url(../../../../assets/url-loader/info-icon.svg);
  color: var(--white500);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

:global(.react-datepicker-wrapper) {
  width: 100%;
}
:global(.react-datepicker-popper) {
  width: 100%;
}
:global(.react-datepicker-popper[data-placement^='bottom']) {
  margin: 0;
}
:global(.react-datepicker) {
  width: 100%;
  border-radius: 0;
}
:global(.react-datepicker__triangle) {
  display: none;
}
:global(.react-datepicker__navigation--previous) {
  left: inherit;
  right: 50px;
}
:global(.react-datepicker__header) {
  text-align: left;
  margin: 0 20px;
  background-color: var(--white);
  border-bottom: 0;
  padding-top: 20px;
}
:global(.react-datepicker) {
  color: var(--black);
  font-weight: 600;
  font-size: var(--fsS);
  font-family: 'Gilroy', sans-serif;
}
:global(.react-datepicker__month-container) {
  float: none;
  width: 100%;
}
:global(.react-datepicker__day-names) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 16px;
}
:global(.react-datepicker__navigation) {
  top: 24px;
}
:global(.react-datepicker__day-names) {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}
:global(.react-datepicker__week) {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  margin-bottom: 8px;
}
:global(.react-datepicker__day-name),
:global(.react-datepicker__day) {
  width: 100%;
  margin: 0;
  height: 100%;
  font-weight: 500;
  outline: none;
}
:global(.react-datepicker__day-name) {
  font-weight: bold;
}
:global(.react-datepicker__day:hover) {
  border-radius: 0;
}
:global(.react-datepicker__month) {
  margin: 0 20px;
  padding-bottom: 12px;
}
:global(.react-datepicker__day--selected) {
  background-color: var(--blue);
  border-radius: 0;
}
:global(.react-datepicker__day--selected:hover),
:global(.react-datepicker__day--keyboard-selected:hover) {
  background-color: var(--blue);
}

:global .rc-time-picker,
:global .rc-time-picker-input {
  display: block;
  height: 46px;
  border: none;
  background-color: var(--gray700);
  color: var(--white);
  font-size: var(--fsS);
  font-weight: 500;
  padding: 0 8px;
  cursor: pointer;
}
:global .rc-time-picker svg {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
:global .rc-time-picker-panel-input-wrap {
  display: none;
}
:global .rc-time-picker-panel-narrow {
  max-width: 135px;
}
:global .rc-time-picker-panel-select {
  width: 50%;
  color: var(--black);
}
:global .rc-time-picker-panel-select li {
  padding-left: 0;
  text-align: center;
  font-size: var(--fsS);
  border: none;
  outline: none;
  padding: 7px;
  height: auto;
}
:global .rc-time-picker-panel-select li:hover {
  background-color: var(--gray300);
  color: var(--primary);
}
:global li.rc-time-picker-panel-select-option-selected {
  font-weight: 500;
  color: var(--primary);
  background: none;
}
:global .rc-time-picker-clear {
  display: none;
}
:global .rc-time-picker-panel-inner {
  width: 100%;
  top: 47px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0;
}

@media (max-width: 1100px) {
  .form__grid {
    grid-template-columns: minmax(226px, 256px) minmax(226px, 256px);
  }
  :global(.react-datepicker__header) {
    margin: 0 10px;
  }
  :global(.react-datepicker__month) {
    margin: 0 10px;
    padding-bottom: 8px;
  }
}

@media (max-width: 900px) {
  .form__grid {
    grid-template-columns: minmax(226px, 288px);
    margin-bottom: 66px;
  }
}

@media (max-width: 767px) {
  .form__grid {
    grid-template-columns: 1fr;
    margin-bottom: 66px;
  }
}
