.welcome{
	composes: section from global;
	padding: 140px 0 118px;
}
.container{
	grid-column: var(--medium);
	display: grid;
	grid-template-columns: 1.1fr .9fr;
}
.titleWrapper{
	margin: 0 0 16px;
}
.content{
	max-width: 520px;
}

.image{
	display: flex;
	justify-content: center;
	align-items: center;
}
.image svg{
	max-width: 400px;
	max-height: 200px;
	width: 100%;
}



@media (max-width: 900px){
	.welcome{
		padding: 90px 0 70px;
	}
	.container{
		grid-template-columns: 1fr;
	}
	.image{
		grid-row: 1 / 2;
		margin-bottom: 30px;
		justify-content: flex-start;
	}
}

@media (max-width: 600px){
	.titleWrapper{
		margin: 0 0 24px;
	}
	.content{
		margin: 0 0 48px;
	}
}