.aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50;
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  overflow: scroll;
}
.menuWrapper {
  position: absolute;
  width: 100%;
  left: 0;
  top: 66px;
  display: flex;
  justify-content: center;
  padding: 24px calc(var(--cellSize) * 2) 32px;
  background-color: var(--gray800);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.menuWrapper > ul {
  width: 100%;
}
.menuWrapper li {
  text-align: center;
  margin-bottom: 16px;
}

@media (min-width: 900px) {
  .menuWrapper li:last-child {
    padding-top: 16px;
  }
}

.menuWrapper li:last-child {
  padding-top: 16px;
}

.active.aside {
  transform: scale(1);
  opacity: 1;
}
.active.aside .menuWrapper {
  opacity: 1;
}

.submenuContainer button {
  display: inline;
  color: white;
  cursor: pointer;
}
.submenuContainer li {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  cursor: pointer;
}
.submenuContainer a {
  display: block;
}
.submenuContainer svg {
  display: inline-block;
  margin-bottom: 0.1em;
}
.rotate180 {
  transform: rotate(180deg);
}

.submenu li {
  border-bottom: 1px solid var(--gray600);
}
.buttonContainer {
  display: flex;
  justify-content: center;
}

.submenuContainer button {
  display: inline;
  color: white;
  cursor: pointer;
}
.submenuContainer li {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  cursor: pointer;
}
.submenuContainer a {
  display: block;
}
.submenuContainer svg {
  display: inline-block;
  margin-bottom: 0.1em;
}
.rotate180 {
  transform: rotate(180deg);
}

.submenu li {
  border-bottom: 1px solid var(--gray600);
}
.buttonContainer {
  display: flex;
  justify-content: center;
}
.submenuContainer button {
  display: inline;
  color: white;
  cursor: pointer;
}
.submenuContainer li {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  cursor: pointer;
}
.submenuContainer a {
  display: block;
}
.submenuContainer svg {
  display: inline-block;
  margin-bottom: 0.1em;
}
.rotate180 {
  transform: rotate(180deg);
}

.submenu li {
  border-bottom: 1px solid var(--gray600);
}
.buttonContainer {
  display: flex;
  justify-content: center;
}
.submenuContainer button {
  display: inline;
  color: white;
  cursor: pointer;
}
.submenuContainer li {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  cursor: pointer;
}
.submenuContainer a {
  display: block;
}
.submenuContainer svg {
  display: inline-block;
  margin-bottom: 0.1em;
}
.rotate180 {
  transform: rotate(180deg);
}

.submenu li {
  border-bottom: 1px solid var(--gray600);
}
.buttonContainer {
  display: flex;
  justify-content: center;
}
.submenuContainer button {
  display: inline;
  color: white;
  cursor: pointer;
}
.submenuContainer li {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  cursor: pointer;
}
.submenuContainer a {
  display: block;
}
.submenuContainer svg {
  display: inline-block;
  margin-bottom: 0.1em;
}
.rotate180 {
  transform: rotate(180deg);
}

.submenu li {
  border-bottom: 1px solid var(--gray600);
}
.buttonContainer {
  display: flex;
  justify-content: center;
}
