.londonEscorts {
  composes: section from global;
  padding: 48px 0 90px;
  background-color: var(--gray800);

  animation-name: show;
  animation-duration: 0.8s;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  grid-column: var(--large);
}
.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0 24px;
}
.cardsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-auto-rows: min-content;
  grid-column-gap: 8px;
  grid-row-gap: 30px;
}
.btnWrapper {
  display: flex;
  justify-content: center;
  margin: 60px 0 0;
}

@media (max-width: 600px) {
  .contentWrapper {
    flex-wrap: wrap;
    margin: 0 0 48px;
  }
  .searchWrapper {
    max-width: 100%;
    margin: 24px 0;
  }
  .cardsList {
    grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}
