.form__grid {
  display: grid;
  grid-template-columns: minmax(220px, 300px) minmax(220px, 300px);
  grid-row-gap: 24px;
  grid-column-gap: var(--cellSize);
  margin-bottom: 42px;
}
.form__grid > div:nth-child(4) {
  grid-column: 1 / -1;
}
.inputWrapper {
  display: flex;
  align-items: center;
}
.form__title {
  margin-bottom: 32px;
}
.selectWrapper {
  max-width: 114px;
  flex-shrink: 0;
}
.input {
  background-color: var(--gray700);
  width: 100%;
  height: 46px;
  margin-right: 8px;
  padding: 0 16px;
  font-weight: 500;
  color: var(--white);
  border: none;
  font-size: var(--fsS);
}
.input::placeholder {
  color: var(--placeholder);
  font-weight: 500;
}

/* ------ Phone Input ------- */

.phoneInputContainer {
  height: 46px;
}

:global(.form-control).phoneInputInput {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: var(--gray700);
  color: var(--white500);
  border: none;
  padding-left: 55px;
}

.phoneInputButton {
  background-color: var(--gray700);
  color: var(--white500);
  border: none;
}
.phoneInputButton :global(.selected-flag) {
  background-color: var(--gray700);
  color: var(--white500);
  border: none;
}

.phoneInputButton:global(.flag-dropdown) {
  border: none;
  border-radius: 0;
  background-color: var(--gray700);
}

:global(.react-tel-input .flag-dropdown) {
  border: none;
  border-radius: 0;
}

:global(.react-tel-input .selected-flag:hover) {
  background-color: var(--gray700);
}

:global(.react-tel-input .flag-dropdown.open .selected-flag) {
  background-color: var(--gray700);
}

:global(.react-tel-input .selected-flag .arrow) {
  border: none;
}

:global(.react-tel-input .selected-flag .arrow) {
  left: 26px;
}

:global(.arrow:before) {
  content: ' ';
  font-size: 16px;
  display: block;
  background-image: url(../../../../assets/url-loader/arrow-down-2.svg);
  background-size: 100% 100%;
  width: 10px;
  height: 6px;
}

:global(.up.arrow:before) {
  transform: rotate(180deg);
}

:global(.react-tel-input .country-list .search-box) {
  border: none;
  border-radius: 0;
  font-size: 14px;
  line-height: 20px;
  margin-left: 0px;
  padding: 17px 0 17px 20px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

:global(.react-tel-input .country-list .search) {
  padding: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  margin: 0 8px;
}

:global(.search:before) {
  content: ' ';
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../../../../assets/url-loader/search.svg);
  color: black;
  padding: 10px 10px;
}

:global(.react-tel-input .country-list) {
  margin-top: 0;
}

:global(.react-tel-input .country-list .country) {
  display: flex;
  color: black;
}

:global(.react-tel-input .country-list .country:hover) {
  background-color: #f3f3f3;
  color: var(--primary);
}

:global(.react-tel-input .country-list .country .dial-code) {
  margin-left: auto;
}

:global(input:-webkit-autofill) {
  -webkit-box-shadow: 0 0 0 50px var(--gray700) inset; /* Change the color to your own background color */
  -webkit-text-fill-color: var(--white);
}

:global(input:-webkit-autofill:focus) {
  -webkit-box-shadow: 0 0 0 50px var(--gray700) inset; /*your box-shadow*/
  -webkit-text-fill-color: var(--white);
}

/* ---------------------------------------------------- */

.textarea {
  height: 135px;
  width: 100%;
  color: inherit;
  background-color: var(--gray700);
  padding: 12px 16px;
  border: 1px solid var(--gray700);
  resize: none;
  outline: none;
}

.textarea textarea::placeholder {
  color: var(--placeholder);
}

@media (max-width: 1100px) {
  .form__grid {
    grid-template-columns: minmax(220px, 256px) minmax(220px, 256px);
  }
}

@media (max-width: 900px) {
  .form__grid {
    grid-template-columns: minmax(220px, 288px);
    margin-bottom: 56px;
  }
}

@media (max-width: 767px) {
  .form__grid {
    grid-template-columns: 1fr;
    margin-bottom: 60px;
  }
}
