@media (min-width: 864px) {
  .blogPostsNavigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 40px;
  }
}
.tagList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

@media (min-width: 864px) {
  .tagList {
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.tag {
  padding: 0 20px;
  height: 46px;
  display: flex;
  align-items: center;
  background-color: var(--gray700);
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: var(--fsS);
  cursor: pointer;
  white-space: nowrap;
}
.tag:last-child {
  margin-right: 0;
}
.tag.active,
.tag:hover,
.tag.current {
  background-color: var(--blue);
}
